- if flash[:notice]
  = flash[:notice]
  %br

-# %h3
  -# = @ffmpeg.title
-# %p
  -# = @ffmpeg.description
- if @ffmpeg.video.present?
  %div.video_container
    = video_tag @ffmpeg.video.url(:mp4), controls: true, style: "max-width: 100%;"
  %div.video_transcript
    %p video Transcription text go here
  %br/

- if @ffmpeg.audio.present?
  - @ffmpeg.results.each do |result|
    %div.video_transcript
      %p= result.transcript
    %br/

= link_to "Back", root_path
//
